<section>
	<style type="text/css">
		.btn-xlarge {
			padding: 18px 28px;
			font-size: 22px;
			line-height: normal;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
	</style>
	<div class="container">
		
		<div class="jumbotron">
			<h1>
				Welcome to CDS - Search Engine <hr>
			</h1>
			<br>
			<p style="text-align: center">
				<a class="btn btn-primary btn-xlarge" href="/#/search/" role="button">Start Search</a>
			</p>
			<br><br><br>
			<p style="text-align: center"> by <small>Calvin Thanh, Di Shen, Seung Kim</small></p>
		</div>
		
	</div>
</section>