<section>
	<div class="container">
		<div class="jumbotron">
			<div class="col-md-12">
				<input type="text" size="50" ng-model="query"/>&nbsp;&nbsp;
				<input class="btn btn-primary" type="submit" value="search" ng-click="search()"/>
			</div>
			<br>
		</div>
		<p ng-if="wait">please wait..</p>
		<br>
		<span ng-if="results">
			<div class="col-md-12">
				<h3>Showing Results For : {{searched_query}}</h3>
				<br>
				<table class="table">
					<thead>
						<th width="50%">File Location</th>
						<th width="50%">Ranking</th>
					</thead>
					<tbody>
						<tr ng-repeat="result in results">
							<td>{{result.filename}}</td>
							<td>{{result.weight}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</span>
	</div>
</section>