<section data-ng-init="findQueryPool()">
	<div class="container">
		<div class="jumbotron">
			

			<h3>search .. </h3>
			<div class="row">
				<form>
					<div class="col-md-4">
						<autocomplete attr-placeholder="ex) dog and cat" attr-class="" attr-input-class="form-control" ng-model="query" data="queryPool"></autocomplete>
					</div>
					<div class="col-md-1">
						<input class="btn btn-primary" type="submit" value="search" ng-click="search()"/>
					</div>
				</form>
			</div>
		</div>
		<p ng-if="wait">please wait..</p>
		<br>
		<span ng-if="results">
			<div class="col-md-12">
				<h3>found {{results.length}} count(s): "{{searched_query}}"</h3>
				<br>
				<table class="table">
					<thead>
						<th width="50%">File Location</th>
						<th width="50%">Ranking</th>
					</thead>
					<tbody>
						<tr ng-repeat="result in results">
							<td>{{result.filename}}</td>
							<td>{{result.weight}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</span>
	</div>
</section>